@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}
.v-toolbar-items {
    height: auto!important;
}
.padding {
    padding: 10px;
}
.default-container {
    padding: 10px;
    width: 100%!important;
    margin: 0!important;
    box-shadow: 0 0 7px -2px #00253D!important;
    background: #00253D ;
}
.margin-top {
    margin-top: 15px!important;
}
.margin-bottom{
    margin-bottom: 15px!important;
}
.v-main{
    padding-left: 40px!important;
    padding-right: 40px!important;
}
:root {
    --trans-blue: rgba(0, 37, 61, 0.08);
    --main-blue: #008394;
}
.blue-bg{
    background-color: var(--main-blue)!important;
}
.v-main{
    background: #008394;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.v-autocomplete .v-field .v-field__input > input {
    background: inherit;
}

.codes {
    padding: 3%;
}


.search {
    min-height: 200px;
}

.wrapper {
    padding-left: 16px;
    padding-right: 16px;
    background: var(--main-blue);
    border-radius: 5px;
}
.white-text{
    color: white;
}
.white-text p, h1, h2{
    color: white;
}
.ttle-lst {
    padding: 2% 0 2% 0;
    color: white;
}

.v-card {
    z-index: 10;
}

.v-toolbar__content {
    background: #0d2f58;
    color: white;
}

.v-navigation-drawer__content {
    color: white;
}

.info-ttl {
    color: white;
    padding: 5% 0 5% 0;
}

.margin-right {
    margin-right: 10px;
}

.v-field__field {
    background-color: var(--trans-blue) !important;
}
.white-text {
    color: white;
}
.bold-text {
    font-weight: bold;
}
.hidden-overflow{
    overflow: hidden;
}
.dots-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.full-container {
    max-width: 95%!important;
}
.main-text{
    background: #00253D ;
}
