@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

:root {
    --trans-blue: #0b82b317;
    --main-blue: #0b82b3;
}
.blue-bg{
    background-color: var(--main-blue);
}
*, *::before, *::after {
    box-sizing: inherit;

}

.v-autocomplete .v-field .v-field__input > input {
    background: inherit;
}

.codes {
    padding: 3%;
}

.main-text {
    margin: 1%;
    color: white;
    background: #0b82b3;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}

.search {
    min-height: 200px;

}

.wrapper {
    box-shadow: 0 0 7px 1px #393939;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #0b82b3;
    border-radius: 5px;
}

.ttle-lst {
    padding: 2% 0 2% 0;
    color: white;
}

.v-card {
    z-index: 10;
}

.v-toolbar__content {
    background: #0d2f58;
    color: white;
}

.v-navigation-drawer__content {
    color: white;
}

.info-ttl {
    color: white;
    padding: 5% 0 5% 0;
}

.margin-right {
    margin-right: 10px;
}

.v-field__field {
    background-color: var(--trans-blue) !important;
}
.white-text {
    color: white;
}
.bold-text {
    font-weight: bold;
}
.hidden-overflow{
    overflow: hidden;
}
.dots-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.full-container .v-container {
    max-width: 95%!important;
}
